#album_text
  %h1 Current Albums

#album_text
  %h1 Current Albums

#random_image
  - @albums.each do |album|
    .image_info
      %h3= album.name
      - if album.photos.present?
        = link_to (image_tag album.photos.first.image), album
        %br
      = album.description
      %br
      = album.photos.count
      = "Photos"
      %br
      = link_to 'Edit', edit_album_path(album) if can? :edit, album
      = link_to '- Destroy', album, :method => :delete, :confirm => 'Are you sure?' if can? :destroy, album

= paginate @albums

