%p#notice= notice

#album_text
  %h1= @tag.name.capitalize
  #random_image
    %p
      - @tag.photos.each do |photo|
        .image_info
          = link_to (image_tag photo.image), album_photo_path(photo.album, photo)
          = "Album name: "
          = photo.album.name
  = link_to 'See all tags', tags_path
